{% extends 'base/base.html' %}

{% block content %}

<div id="home">
	<div class="sidebar">


		<div class="options">
			<h4 class="filter-header">Daily Expense</h4>

			<div class="side-item">
				<i class="material-icons">dashboard</i>
				<a href="{% url 'home' %}" class="side-link">Dashboard</a>
			</div>
			<div class="side-item">
				<i class="material-icons">attach_money</i>
				<a href="{% url 'income_list'  %}" class="side-link">Income</a>
			</div>
			<div class="side-item">
				<i class="material-icons">money_off</i>
				<a href="{% url 'expense_home' %}" class="side-link">Expense</a>
			</div>
			<div class="side-item">
				<i class="material-icons">account_circle</i>
				<a href="#" class="side-link">Profile</a>
			</div>
		</div>
	</div>

	<div class="main-content">

		<div class="container mt-5">

			<div class="row">
				<div class="col-lg-12">

					{% block dash %}
					<div class="row">
						<div class="col-lg-3">
							<div class="card">
								<div class="card-body">
									<h3 class="text-center">Today</h3>
									<br>
									<div class="d-flex justify-content-around">
										<p class="price_lg">{{todays_expense}}&#36;
											<i class="material-icons">arrow_downward</i>
										</p>
										<p class="price_lg">{{todays_income}}&#36;
											<i class="material-icons">arrow_upward</i>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="card">
								<div class="card-body">
									<h3>Past 7 Day's </h3>
									<br>
									<div class="d-flex justify-content-around">
										<p class="price_lg">{{week_expense}}&#36;
											<i class="material-icons">arrow_downward</i>
										</p>
										<p class="price_lg">{{week_income}}&#36;
											<i class="material-icons">arrow_upward</i>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="card">
								<div class="card-body">
									<h3>Month </h3>
									<br>
									<div class="d-flex justify-content-around">
										<p class="price_lg">{{month_expense}}&#36;
											<i class="material-icons">arrow_downward</i>
										</p>
										<p class="price_lg">{{month_income}}&#36;
											<i class="material-icons">arrow_upward</i>
										</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-3">
							<div class="card">
								<div class="card-body">
									<h3>Year </h3>
									<br>
									<div class="d-flex justify-content-around">
										<p class="price_lg">{{year_expense}}&#36;
											<i class="material-icons">arrow_downward</i>
										</p>
										<p class="price_lg">{{year_income}}&#36;
											<i class="material-icons">arrow_upward</i>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>


				<div class="row">
					<div class="col-lg-12">
						<hr>

						<h3>This Year</h3>

						<canvas id="myChart" width="1024" height="400"></canvas>



					</div>
				</div>



				{% endblock %}

			</div>
		</div>

	</div>
</div>
</div>


{% endblock %}

{% block js %}

<script>

	$(document).ready(function () {

		var ctx = document.getElementById('myChart').getContext('2d');



		$.ajax({
			url: "/home/graph",
			success: function (data) {
				var expense_month = []
				var expense_amount = []
				for (let i = 0; i < data.expense.length; i++) {
					const item = data.expense[i];
					expense_month.push(moment(item.month).format('MMM'))
					expense_amount.push(item.total)
				}

				var income_month = []
				var income_amount = []
				for (let i = 0; i < data.income.length; i++) {
					const item = data.income[i];
					console.log(item)
					income_month.push(moment(item.month).format('MMM'))
					income_amount.push(item.total)
				}


				createBarChart(expense_month, expense_amount, income_month, income_amount)
			},
			failure: (error) => console.log(error)
		})

		function createBarChart(expense_month, expense_amount, income_month, income_amount) {
			var myChart = new Chart(ctx, {
				
				type: 'bar',
				data: {
					labels: expense_month,
					datasets: [{
						
						label: 'Expense ',
						data: expense_amount,
						backgroundColor: [
							'rgba(255, 99, 132, 1)',
							'rgba(255, 99, 132, 1)',
							'rgba(255, 99, 132, 1)',
							'rgba(255, 99, 132, 1)',
							'rgba(255, 99, 132, 1)',
							'rgba(255, 99, 132, 1)',
							'rgba(255, 99, 132, 1)',
							'rgba(255, 99, 132, 1)',
							'rgba(255, 99, 132, 1)',
							'rgba(255, 99, 132, 1)',
							'rgba(255, 99, 132, 1)',
							'rgba(255, 99, 132, 1)',
						],
						borderColor: [
							// 'rgba(255, 99, 132, 1)',
							// 'rgba(54, 162, 235, 1)',
							// 'rgba(255, 206, 86, 1)',
							// 'rgba(75, 192, 192, 1)',
							// 'rgba(153, 102, 255, 1)',
							// 'rgba(255, 159, 64, 1)'
						],
						borderWidth: 1
					},{
						label: 'Income',
						type: "bar",
						data : income_amount,
						backgroundColor: [
							'lightgreen',
							'lightgreen',
							'lightgreen',
							'lightgreen',
							'lightgreen',
							'lightgreen',
							'lightgreen',
							'lightgreen',
							'lightgreen',
							'lightgreen',
							'lightgreen',
							'lightgreen',
						],
						borderWidth: 1
					}],
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true
							}
						}]
					},
					layout: {
						padding: {
							left: 0,
							right: 0,
							top: 0,
							bottom: 0
						}
					}
				}
			});
		}

	});



</script>

{% endblock %}