{% extends 'base/base.html' %}

{% block content %}

<div id="home">
	<div class="sidebar">

		<div class="side-top">
			<h3 class="title">Username</h3>
			<p class="secondary">user@gmail.com</p>
		</div>
		<hr>

		<div class="options">
			<h4 class="filter-header">Option header</h4>

			<div class="side-item">
				<i>material-icon</i>
				<a href="http://www.url.com" target="_blank">First Item</a>
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="float-left"> Home </h2>
			</div>
		</div>
	</div>
</div>


{% endblock %}
