{% extends 'base/base.html' %}

{% block content %}

<div id="home">
	<div class="sidebar">


		<div class="options">
			<h4 class="filter-header">Daily Expense</h4>

			<div class="side-item">
				<i class="material-icons"  >dashboard</i>
				<a href="#" class="side-link">Dashboard</a>
			</div>
			<div class="side-item">
				<i class="material-icons"  >attach_money</i>
				<a href="#" class="side-link">Income</a>
			</div>
			<div class="side-item">
				<i class="material-icons"  >money_off</i>
				<a href="#" class="side-link">Expense</a>
			</div>
			<div class="side-item">
				<i class="material-icons"  >account_circle</i>
				<a href="#" class="side-link">Profile</a>
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="float-left"> Home </h2>
			</div>
		</div>
	</div>
</div>


{% endblock %}
