@import url('https://fonts.googleapis.com/css?family=Lilita+One|Montserrat&display=swap');

body{

	margin:0;
	padding:0;
	top:0;
	left:0;
	font-family: 'Montserrat', sans-serif;
	width:100%;
	height:100vh;

}

h1,h2,h3,h4,h5,h6{

	font-family: 'Lilita One', cursive;

}

.important{
	font-weight:bold;
	color:blue;
}

#top-sec{

	display:flex;
	align-items:center;
	padding: 8px 16px;
	border-bottom:1px solid lightgrey;
}

#top-sec .left{

	text-transform: capitalize;

}

#register{

	display:flex;
	width:100%;
	height:100vh;
	flex-direction:column;
	align-items:center;
	justify-content:start;

}


.custom-card{

	margin-top:8%;
	box-shadow: 1px 1px 4px 1px lightblue;
	padding: 28px 36px;
}



.c-form{

	border:none;
	outline:none;
	width:400px;
	display:flex;
	border:1px solid lightgrey;
	padding:8px;
	border-radius:5px;
}

.c-form:focus{
	border:none;
	background-color:lightblue;
	transform:scale(1.02);

	transition:all 0.2s ease-in-out;
}

#home{

	width:100%;
	min-height:100vh;
	height:100%;
	display:grid;
	grid-template-columns:2fr 10fr;

}

#home .sidebar{

	min-height:100vh;
	padding: 8px 16px;	
	box-shadow:1px 1px 4px lightgrey;
}

#home .sidebar .side-top{
	margin-bottom:16px;
}

.options{
	margin-top:8px;
}
























