{% extends 'base/base.html' %}

{% block content %}
	<div id="register" >

		<div class="custom-card"  >
			
		<h1 class="header"  >Register Here ... !</h1>

		<hr>

		<form  method="POST" >

			{% csrf_token  %}

			{{ form.as_p }}

			<button type="submit" class="btn btn-success btn-block" >register</button>
		</form>

			<div class="float-right my-3">
				<a href="/login" target="_blank">Already have account <span class="important"> Login here </span>  </a>
			</div>
		</div>
	</div>

{% endblock %}
